@model Person 

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
//    var response = new HomeController().Get();
//    var responseOld = new Person(new HomeController().Get());
//    var response = responseOld.Name;

   // var response = new HomeController().metodaHelp();
    //var response = new HomeController().metodaHelp();
//    var response2 = new HomeController().GetMultiple();
//    new HomeController().metodaPutNowa(3,"Zuziolunie");
    
}

<h2>title</h2>

<div></div>


@using (Html.BeginForm("razorPut", "Home", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Person Details</th>
        </tr>
        <tr>
            <td>Liczba:</td><td>@Html.TextBoxFor(m => m.Id)</td>
        </tr>
        <tr>
            <td>Nazwa:</td><td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"/></td>
        </tr>
    </table>
}


    
  
